<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300057609698-36ejhdt32nuuhl8gsj6si3a0dsd0cce1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300057609698-36ejhdt32nuuhl8gsj6si3a0dsd0cce1</string>
	<key>API_KEY</key>
	<string>AIzaSyC_kn2Gb6hYM4NtRM-LE859960A4YbGUOc</string>
	<key>GCM_SENDER_ID</key>
	<string>300057609698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uran.firebase.chat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-room-312c1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-room-312c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300057609698:ios:015085fc4685dfc5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-room-312c1.firebaseio.com</string>
</dict>
</plist>